.rotate {
    animation: rotation .5s;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.imgCat {
    height: auto;
    width: 400px;
  }